.q {
  color: red;
  font-size: 30px;
}

p{
  font-size: 20px;
}

input{
  position:relative;
  display: block;
  margin:0 auto;
  padding-right:5px;
  padding-left:5px;
  border-radius:2px;
  margin-bottom:20px;
  height:30px;
  width:50%;
  line-height:30px;
  outline:0;
  border:1px solid #a9a9a9;
  color:#555;
  }

.to {
  text-align: center;
}

.button {

  font-size: 18px;
  padding: 5px;
  text-align: center;
  padding-bottom: 5px;
}

.button :hover {
  background-color: blue;
}

.advanced-container  input {
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;

}

.advanced-container  :hover {
  background-color: blue;
}

h1 a {
  text-decoration: none;
}