.center {
  text-align: center;
}

h1 a {
  text-decoration : none;
}

.image, form {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  align-items : center;
  height: 20px;
  width: 50%;
  text-align: center;
  margin: auto;
  display: auto;
}

.c {
  height: 25px;
  margin-top: 20px;
  font-size: 15px;
}

.sub {
  font-size: 15px;
  color: brown;
}